
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-weight: bolder;
  font-size: 34px;
   
  
}

.header{
    background-image: url('/ass/Hero-bg.png');
   
}
nav{ 
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 50px 200px;
  
}
.nav-title{
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}
.bt{ 
    background-color: #4E47FF ;
    color:#FFFFFF;
    border-radius: 5px;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 15px;
    border:none;
    cursor: pointer;
    border:none;

}
.bt:hover{
    background-color: #4d47ff87;
}
.banner{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
   

}
body{
    background-color: rgba(246, 246, 249, 0.335)
}
.banner-body{
     margin: 309px 267px 237px;
     text-align: center;
    
}
.b{
    margin-bottom: 115px;
}
.section-title{
    font-size:42px ;
    font-weight: bold;
    color: #252432;
}
.section-p{
    font-size: 24px;
    color: #252432;
}

.ab{
    display: flex;
}
.section1 .ab{
    gap:220px;
}


main{
    max-width: 1140px;
    margin: 0 auto;
}

.section2{
     border-radius: 10px;
        text-align: center;
        background-color:#4d47ff26;
        padding: 50px 130px;
        margin-top: 127px;
}
.blue h2{
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
    margin-bottom: 5px;
}
.blue p{
    font-size: 20px;
    font-weight:normal;
     color:#000000;
     margin-top: 0px;
}

.bl{
    display: flex;
    justify-content:space-around ;
}
.title{
    font-size:30px;
    margin-bottom: 10px;
}
.section3{
    margin-top: 80px;
}
.reviewer .star{
    display: flex;
    gap: 4px;
 
   

}
.reviewer{
     background-color: #f2eded3c;
    box-shadow:0px 2px 3px whitesmoke ;
    padding: 5px;
}


.users-details{
    display: flex;
    gap:1px;
}
.container{
    display: flex;
    gap:10px;
    padding: 20px;
    margin-top: 50px;
  

}
 .heading1{
    text-align: center;
    font-size:50px;
 }

.nme{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #25243278;
    
}
.nm{
    margin-top:0 px;
}
.section4{
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
            gap: auto;
            padding: 60px;
    
}
.part{
    width: 50%;
}
.part h1{ 
    font-size:97px;
    font-weight:bold;
    margin-top:200px;
}
 .form-section{
    width: 50%;
    border-radius: 10px;
    padding:20px;
    margin-top: 71px;
    box-sizing: border-box;
 }  
 .h{
    margin-bottom: 0px;
    color: #252432;
}
    
 .in{
    width: 100%;
    padding: 12px;
    margin:1px 0px ;
    border-radius: 4px;
    border: 1px solid ;
    box-sizing: border-box;
    
   
 }

 textarea.in{
    height:100px;
 } 
 .btt{
     background-color: #4E47FF ;
    color:#FFFFFF;
    border-radius: 5px;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 15px;
    border:none;
    cursor: pointer;
    border:none;
    width: 480px;
    display: inline-block;
 }
 .btt:hover{
       background-color: #4d47ff87;
 }
 .secondary{
    background-color: #FFFFFF;
    text-align: center;
    padding: 172px 455px 32px 456px;
   
 }
 .log{
    font-size:150px;
    font-weight:bold ;
    font-family:sans-serif ;
    color: #4E47FF;
   
    
 }
 .p h1{
    margin-top: 172px;
    margin-bottom: 20px;
 }
 .p p{
    margin-top:0;
    font-size:21px;
    margin-left: 254px;
    margin-right: 255px;
    color: #8987A1;
 }
 .link ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
    color:#8987A1;
    gap:1px;
    margin-left: 264px;
    margin-right: 265px;
    list-style: none;
    
 }
 .link a{
    text-decoration: none;
     color:#8987A1;
 }










